body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 1em;
}


input {
    margin-right: 1em;
}

.navDiv {
  height: 30em !important;
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;        
}

table, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}