body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 1em;
}


input {
    margin-right: 1em;
}

.navDiv {
  height: 30em !important;
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;        
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div {
    border: 3px solid #abcea1;
    background-color: #e2eede;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i {
    cursor: pointer;
}