table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    opacity: 1;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead, th {
    background-color: darkorange;
    text-align: center;
}

tr:hover {
    background-color: #D6EEEE;
}

#job_status_id_done {
    color: chartreuse;
    font-weight: bold;
}

#job_status_id_progress {
    color: fuchsia;
    font-weight: bold;
}
