table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    opacity: 1;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead, th {
    background-color: darkorange;
    text-align: center;
}

tr:hover {
    background-color: #D6EEEE;
}

#job_status_id_done {
    color: chartreuse;
    font-weight: bold;
    text-align: right;
    transition: 1s;
}

#job_status_id_progress {
    color: fuchsia;
    font-weight: bold;
    
}

#job_status_id_progress:hover {
    text-align: center;
    transition: 2s;
    transform: scale(1.5);
}

.fa-plus {
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}

.modal {
    max-height: 100%;
    background-color: revert;
}
